<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    {% for order in all_orders  %}
    <div class="order-wrapper">
        <ul>
            <li>{{order.customer_name}}</li>
            <li>{{order.order_date}}</li>
            <li>{{order.quantity}}</li>
            <li>{{order.game_title}}</li>
        </ul>
    </div>

    <h1 class="red">hey</h1>
    {% endfor %}
</body>
</html>